@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-background text-white;
}

.bounce {
    transition: .3s cubic-bezier(0.22, 0.12, 0.02, 1.26);
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-border;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-border-mid;
    border-radius: 10px;
}


.btn i {
    transition: .3s cubic-bezier(0.22, 0.12, 0.02, 1.26);
    font-size: 13px;
    width: 13px;
    height: 13px;
    opacity: 0;
    scale: 0;
}


.btn:hover > i {
    opacity: 1;
    scale: 1;
}
