@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-neutral-900 text-white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #313131;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1e1e1e;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0f0f0f 737;
}
